@tailwind base;
@tailwind components;
@tailwind utilities;


.page {
    background-color: #060C23;
    color: white;
}

.landing {
    background-image: url('../assets/landing-page-stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.features {
    border-top: 1px solid white;
    border-style: dashed;
    border-radius: 50vw 51vw 0px 0px / 20vw 20vw 0px 0px;
}

.scaling-animation {
    animation: bouncing 1s ease 0s infinite normal both;
}

@keyframes bouncing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.creating-community-grid {
    border-radius: 60vw 60vw 0px 0px / 15vw 15vw 0px;
}

.choose-professionals {
    border-radius: 0vw 0vw 70vw 70vw / 0vw 0vw 45vw 45vw;
}

.therapy {
    background-image: url('../assets/waves.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mobile-app {
    width: 100vw;
    background-image: url('../assets/mobile-app-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.divider {
    height: 2px;
    background-color: white;
    width: 80%;
    border-radius: 20px;
    margin: 1rem auto;
}

.blue-span-text {
    color: #7378DE;
}

.green-span-text {
    color: #A2E080;
}

.emoji {
    position: absolute;
}

.emoji3 {
    top: 12vh;
    right: 5vw;
}

.emoji2 {
    top: -5vh;
    left: 47%;
}

.emoji1 {
    top: 12vh;
    left: 5vw;
}

.semiCircles {
    top: 10vh;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .emoji3 {
        top: 5vh;
        right: 5vw;
    }

    .emoji2 {
        top: -5vh;
        left: 47%;
    }

    .emoji1 {
        top: 5vh;
        left: 5vw;
    }

}


@media only screen and (max-width: 425px) {
    .emoji3 {
        top: 0vh;
        right: 5vw;
        width: 15vw;
    }
    
    .emoji2 {
        top: -3vh;
        width: 15vw;
        left: 40%;
    }
    
    .emoji1 {
        width: 15vw;
        top: 0vh;
        left: 5vw;
    }

}