@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: JelleRoman;
    src: url('../jellee/Jellee-Roman.otf');
    font-weight: 400;
    font-style: normal;
}

.page {
    background-color: #060C23;
    color: white;
    font-family: JelleRoman, sans-serif;
}

.landing {
    background-image: url('../assets/landing-page-stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.semiCircles {
    top: 10vh;
    width: 100%;
}

.features {
    border-top: 2px solid white;
    border-style: dashed;
    border-color: #7378DE;
    border-radius: 50vw 51vw 0px 0px / 20vw 20vw 0px 0px;
}

.therapy-img{
    bottom: -5px;
    left: 0;
}

.scaling-animation {
    animation: bouncing 2s ease 0s infinite normal both;
}

@keyframes bouncing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.creating-community-grid {
    border-radius: 60vw 60vw 0px 0px / 15vw 15vw 0px;
}

.choose-professionals {
    border-radius: 0vw 0vw 70vw 70vw / 0vw 0vw 45vw 45vw;
}

.therapy {
    background-image: url('../assets/waves.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.therapy-img{
    left: 25%;
    bottom: -7vh;
    width: 50vw;
}

.mobile-app {
    width: 100vw;
    background-image: url('../assets/mobile-app-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.divider {
    height: 2px;
    background-color: white;
    width: 80%;
    border-radius: 20px;
    margin: 1rem auto;
}

.blue-span-text {
    color: #7378DE;
}

.green-span-text {
    color: #A2E080;
}

.emoji {
    position: absolute;
}

.emoji3 {
    top: 12vh;
    right: 5vw;
}

.emoji2 {
    top: -5vh;
    left: 47%;
}

.emoji1 {
    top: 12vh;
    left: 5vw;
}



@media only screen and (min-width: 1440px) {
    .emoji1 {
        top: 7%;
        left: 6%;
    }

    .emoji2 {
        top: -4vh;
        left: 47%;
    }

    .emoji3 {
        top: 7%;
        right: 6%;
    }
}

@media only screen and (max-width: 768px) {
    .emoji1 {
        top: 3vh;
        left: 5vw;
    }

    .emoji2 {
        top: -5vh;
        left: 47%;
    }

    .emoji3 {
        top: 3vh;
        right: 5vw;
    }

    .therapy-img{
        left: 10%;
        bottom: -2vh;
        width: 80vw;
    }
    
}


@media only screen and (max-width: 425px) {
    .emoji1 {
        top: 0vh;
        left: 5vw;
        width: 15vw;
    }

    .emoji2 {
        top: -3.5vh;
        width: 15vw;
        left: 43%;
    }

    .emoji3 {
        top: 0vh;
        right: 5vw;
        width: 15vw;
    }

}