@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: JelleRoman;
    src: url('../jellee/Jellee-Roman.otf');
    font-weight: 400;
    font-style: normal;
}

h2{
    font-family: JelleRoman, sans-serif;
}

.page {
    background-color: #060C23;
    color: white;
}

.landing {
    background-image: url('../assets/landing-page-stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.semiCircles {
    top: 10vh;
    width: 100%;
}

.features {
    border-top: 2px solid white;
    border-style: dashed;
    border-color: #7378DE;
    border-radius: 50vw 51vw 0px 0px / 20vw 20vw 0px 0px;
}

.scaling-animation {
    animation: bouncing 2s ease 0s infinite normal both;
}

@keyframes bouncing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.up-down-animation{
    animation: myAnim 10s linear 0s infinite normal both;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}

.creating-community-grid, .creating-community {
    border-radius: 70vw 70vw 0px 0px / 45vw 45vw 0px;
}

.choose-professionals {
    border-radius: 0vw 0vw 70vw 70vw / 0vw 0vw 45vw 45vw;
}

.therapy {
    background-image: url('../assets/waves.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.therapy-img{
    left: 25%;
    bottom: -50px;
    width: 50vw;
}

.mobile-app {
    width: 100vw;
    background-image: url('../assets/mobile-app-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.divider {
    height: 2px;
    background-color: white;
    width: 80%;
    border-radius: 20px;
    margin: 1rem auto;
}

.blue-span-text {
    color: #7378DE;
}

.green-span-text {
    color: #A2E080;
}

.emoji {
    position: absolute;
}

.emoji3 {
    top: 12vh;
    right: 5vw;
}

.emoji2 {
    top: -5vh;
    left: 47%;
}

.emoji1 {
    top: 12vh;
    left: 5vw;
}

.grid-img{
    width: 20vw;
}


@media only screen and (min-width: 1440px) {
    .emoji1 {
        top: 7%;
        left: 6%;
    }

    .emoji2 {
        top: -4vh;
        left: 47%;
    }

    .emoji3 {
        top: 7%;
        right: 6%;
    }
}

@media only screen and (max-width: 768px) {
    .emoji1 {
        top: 3vh;
        left: 5vw;
    }

    .emoji2 {
        top: -5vh;
        left: 47%;
    }

    .emoji3 {
        top: 3vh;
        right: 5vw;
    }

    .therapy-img{
        left: 10%;
        bottom: -30px;
        width: 85vw;
    }

    .therapy {
        height: 50vh;
    }
    
}


@media only screen and (max-width: 650px) {
    .emoji1 {
        top: 2vh;
        left: 5vw;
        width: 10vw;
    }

    .emoji2 {
        top: -3vh;
        left: 43%;
        width: 10vw;
    }

    .emoji3 {
        top: 2vh;
        right: 5vw;
        width: 10vw;
    }

    .therapy {
        height: 80vh;
    }

    .therapy-img{
        left: 10%;
        bottom: -30px;
        width: 80vw;
    }

}

@media only screen and (max-width: 425px) {
    .emoji1 {
        top: 1vh;
        left: 5vw;
        width: 10vw;
    }

    .emoji2 {
        top: -3vh;
        width: 10vw;
        left: 43%;
    }

    .emoji3 {
        top: 1vh;
        right: 5vw;
        width: 10vw;
    }

    .therapy {
        height: 50vh;
    }

    .therapy-img{
        left: 10%;
        bottom: -20px;
        width: 80vw;
    }

}